body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #293647; /* Szöveg színe */
}

.header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.bg-fej {
  background-position: center;
  height: 400px;
}

.bg-fej h1 {
  color: black;
  font-size: 250%;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}

.bg-fej h3 {
  color: black;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}

.container {
  margin-bottom: 25px;
}

.bg-torzs {
  align-content: center;
}

h3 {
  margin: 25px 0px;
}

a {
  font-style: italic;
  font-weight: bold;
  color: darkblue;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

#szel, #mag {
  margin: 0px auto 15px;
}

#kalkGomb {
  margin: 20px auto;
}

#valasz {
  visibility: hidden;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
}